TicTacToeGeneticAlhorithm/TicTacToeGeneticAlhorithm/obj/
TicTacToeGeneticAlhorithm/Core.TicTacToe.Implementation/obj/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe/obj/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe.Constants/obj/
TicTacToeGeneticAlhorithm/Core.TicTacToe.Implementation/bin/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe.Constants/bin/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe/bin/
TicTacToeGeneticAlhorithm/TicTacToeGeneticAlhorithm/bin/
