TicTacToeGeneticAlhorithm/TicTacToeGeneticAlhorithm/obj/
TicTacToeGeneticAlhorithm/Core.TicTacToe.Implementation/obj/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe/obj/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe.Constants/obj/
