TicTacToeGeneticAlhorithm/TicTacToeGeneticAlhorithm/obj/
TicTacToeGeneticAlhorithm/Core.TicTacToe.Implementation/obj/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe/obj/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe.Constants/obj/
TicTacToeGeneticAlhorithm/Core.TicTacToe.Implementation/bin/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe.Constants/bin/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe/bin/
TicTacToeGeneticAlhorithm/TicTacToeGeneticAlhorithm/bin/
TicTacToeGeneticAlhorithm/.vs/TicTacToeGeneticAlhorithm/v14/.suo
TicTacToeGeneticAlhorithm/TicTacToe.MVC/bin/
TicTacToeGeneticAlhorithm/TicTacToe.MVC/obj/
TicTacToeGeneticAlhorithm/packages/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe.Implementation/obj/
TicTacToeGeneticAlhorithm/Core/TicTacToe/Core.TicTacToe.Implementation/bin/
TicTacToeGeneticAlhorithm/Shared/Shared.Common/obj/
TicTacToeGeneticAlhorithm/Shared/Shared.Common/bin/
TicTacToeGeneticAlhorithm/Tests/TicTacToeTests/obj/
TicTacToeGeneticAlhorithm/Tests/TicTacToeTests/bin/
TicTacToeGeneticAlhorithm/Data/Data.Model/obj/
TicTacToeGeneticAlhorithm/Data/Data.Migration/bin/
TicTacToeGeneticAlhorithm/Data/Data.Migration/obj/
TicTacToeGeneticAlhorithm/Data/Data.Model/bin/
TicTacToeGeneticAlhorithm/Infrastructure/Infrastructure.DI/bin/
TicTacToeGeneticAlhorithm/Infrastructure/Infrastructure.DI/obj/
TicTacToeGeneticAlhorithm/Core/MVC/Core.MVC/bin/
TicTacToeGeneticAlhorithm/Core/MVC/Core.MVC/obj/
TicTacToeGeneticAlhorithm/Infrastructure/Infrastructure.MVCDependencyInjection/bin/
TicTacToeGeneticAlhorithm/Infrastructure/Infrastructure.MVCDependencyInjection/obj/
TicTacToeGeneticAlhorithm/Core/MVC/Core.MVC.Implementation/bin/
TicTacToeGeneticAlhorithm/Core/MVC/Core.MVC.Implementation/obj/
TicTacToeGeneticAlhorithm/Core/Bot/Main/Core.Bot.Main/obj/
TicTacToeGeneticAlhorithm/Core/Bot/Main/Core.Bot.Main.Implementation/obj/
TicTacToeGeneticAlhorithm/Core/Bot/Main/Core.Bot.Main.Implementation/bin/
